.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.alternatives {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    color: #616161;
    border-radius: 6px;
}

.alternatives button {
    height: 30px;
}

.questions {
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #eeeeee;
    color: #1976d2;
}

.questions:first-of-type {
    margin-top: 10px;
}

.clicks {
    margin-left: 10px;
}

.addButtons {
    padding: 5px;
    width: 100%;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.flex {
    display: flex;
}

.icon {
    height: 30px;
    align-self: center;
    margin-left: 10px;
    opacity: 0.5;
}

.icon:hover {
    opacity: 1;
}
